* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

:root {
    --primaryClr: #f8fafc;
    --secondaryClr: #78716c;
    --playeroneClr: #fee2e2;
    --playertwoClr: #cffafe;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    background: var(--primaryClr);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    text-align: center;
}

h1 {
    margin-bottom: 60px;
    font-size: 4rem;
    text-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

#gameContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    max-height: 400px;
    gap: 10px;
}

.gameCell {
    width: 100px;
    height: 100px;
    background: var(--primaryClr);
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 6rem;
    transition: all ease 0.2s;
}

.gameCellActive:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.25);
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryClr);
    z-index: 10;
    width: 200px;
    height: 150px;
    border-radius: 20px;
    scale: 0;
    transition: all 0.2s ease;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;
    scale: 0;
}

#modalHeading {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

#resetBtn {
    color: var(--primaryClr);
    background: var(--secondaryClr);
    border: none;
    outline: none;
    padding: 0.4em 1em;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#resetBtn:hover {
    transform: translateY(5px);
    box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.25);
}

.winnerX {
    color: green;
}

.winnerO {
    color: red;
}